*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle & build
.gradle/
build/
**/build/

# Android Studio
.idea/


# NDK/외부 빌드
.externalNativeBuild/
.cxx/

# 기타

captures/